.StackTraceView {
  padding: 0.25rem;
}

.CallSite, .IgnoredCallSite, .BuiltInCallSite {
  display: flex;
  padding-left: 1rem;
  white-space-collapse: preserve;
}

.IgnoredCallSite, .BuiltInCallSite {
  display: none;
}

.ShowIgnoredCallSites .IgnoredCallSite {
  display: flex;
  opacity: 0.65;
}

.CallSite + .BuiltInCallSite {
  display: block;
}

.IgnoredCallSitesToggle {
  display: inline-flex;
  align-items: center;
  margin: 0.25rem 0.25rem 0;
  padding: 0;
  text-align: left;
}

.StackTraceView .IgnoredCallSitesToggle {
  margin: 0;
}

.IgnoredCallSitesToggleIcon {
  flex: 0 0 1rem;
  color: var(--color-expand-collapse-toggle);
}

.IgnoredCallSitesToggleLabel {
  margin-left: 0.25rem;
  color: var(--color-attribute-name-not-editable);
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-monospace-normal);
  white-space: nowrap;
}

.Link {
  color: var(--color-link);
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  border-radius: 0.125rem;
}

.Link:hover {
  background-color: var(--color-background-hover);
}

.ElementBadges {
  margin-left: 0.25rem;
}
